{{ form_start(form) }}
{{ form_errors(form) }}
<div class="row">
    <div class="col">
        <div class="card">
        {% block form_row %}
            <div class="form-group">
                {{ form_label(form.title) }}
                {{ form_widget(form.title) }}
            </div>
            <div class="form-group">
                {{ form_label(form.number) }}
                {{ form_widget(form.number) }}
            </div>
            <div class="form-group">
                {{ form_label(form.barcode) }}
                {{ form_widget(form.barcode) }}
            </div>            
            <div class="form-group">
                {{ form_label(form.productCondition) }}
                {{ form_widget(form.productCondition) }}
            </div>
            <div class="form-group">
                {{ form_row(form.editor) }}
            </div>
            <div class="form-group">
                {{ form_row(form.author) }}
            </div>
            <div class="form-group">
                {{ form_row(form.category) }}
            </div>
            <div class="form-group">
                {{ form_row(form.subCategory) }}
            </div>
            <button class="btn btn-primary m-auto mb-3 px-3 py-2 hover:bg-cyan-300">
                {{ button_label|default('Créer l\'auteur') }}
            </button>
        {% endblock %}
        </div>
    </div>
</div>
{{ form_end(form) }}